body{
    background:url('background1.png') no-repeat;
    background-size:cover;
}
body#resultat{
    background:url('background5.jpg') no-repeat;
    background-size:cover;
}
body#resultat div{
    background:white;
    opacity:0.4;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    color:black;
    text-align: center;
    line-height: 400px;
    font-size: 80px;
}
form{
    background: white;
    opacity: 0.6;
    width: 30%;
    margin: 0 auto;
}
form div{
    text-align: center;
    font-size:25px;
    margin:20px 0;
}
button{
    background: url('drapeau.webp') no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 426px;
    line-height: 426px;
    color: white;
    font-size:60px;
}
div#resultat{
    text-align: center;
    color:red;
    font-size: 150px;
    line-height: 100vh;

}
a{
    text-align: center;
}
.link{
    position: absolute;
    bottom: 0;
    left: 45%;
    color:pink;
    font-size:35px;
    background: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    border-radius:25px;
}
