body{
    background:url('background1.jpg') no-repeat;
    background-size:cover;
    background-position: center center;
    overflow: hidden;
    margin: 0;
}
.image {
    position: absolute;
    width: 200px; /* Ajustez la taille selon vos besoins */
    height: auto;

}


body#resultat div#son{
    
    
    width: 60%;
    height: 400px;
    margin: 0 auto;
    color:white;
    text-align: center;
    line-height: 400px;
    font-size: 80px;
}
form{
    background: white;
    opacity: 0.6;
    width: 30%;
    margin: 0 auto;
}
form div{
    text-align: center;
    font-size:25px;
    margin:20px 0;
}
button{
    background: url('bouton.jpeg') no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 350px;
    line-height: 350px;
    color:red;
    font-size:60px;
}
div#resultat{
    text-align: center;
    color:aquamarine;
    font-size: 150px;
    line-height: 100vh;

}
a{
    text-align: center;
}
.link{
    position: absolute;
    bottom: 0;
    left: 45%;
    color:pink;
    font-size:35px;
    background: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    border-radius:25px;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place la vidéo derrière le contenu */
    overflow: hidden;
  }
  
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que la vidéo couvre tout l'écran */
  }
